.home-page {
  position: relative;

  height: 100vh;
  overflow: hidden;


}

.info__paragraph {
  z-index: 999;
  position: absolute !important;
  color: var(--color-text-main);
  font-size: 15px;
  width: 100%;
  height: 150px;
  left: 15%;
  bottom: 0 !important;
  font-family: Elevon;

  @media (min-width: 1024px) {
    display: none;
  }
}

.slide__button {
  position: absolute;
  top: 50%;
  z-index: 999;
  color: var(--color-text-main)
}

.left__button {
  position: absolute;
  left: 20%
}

.right__button {
  position: absolute;
  right: 20%
}

.page__title {
  z-index: 999;
  position: absolute !important;
  color: var(--color-text-main);
  font-size: 25px;
  width: 150px;
  height: 150px;
  rotate: 270deg;
  left: 30px;
  bottom: 22% !important;
  font-family: Elevon;
}

.slide {
  width: 100%;
  transition: all .3s ease-out;

  a {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .front2 {
    width: auto;
    height: 100%;
    z-index: -1;
    max-width: none;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    width: 50%;

    .front2 {
      width: 40%;
      position: absolute;
      right: 0;
    }

    .page__title {
      left: 62%;
      bottom: 8% !important;
    }
  }
}



.main__content {
  overflow: hidden;
  display: flex;
  height: 100vh;
  z-index: -1;





}

.text__image {
  height: 150px;
  width:1000px;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.carousel {
  width: 130%;
  height: 20px;
  background: #fff;
  overflow: hidden;
  transform: rotate(30deg);
  position: absolute;
  top: 20px;
  left: -10px;
  z-index: 999;

}



.carousel__content {
  height: 100%;
  display: flex;
  align-items: center;
  animation: scrolling 15s linear infinite;
}
@keyframes scrolling {
  0%{transform: translateX(0)}
  100%{transform: translateX(-110vw)}
}
.carousel__content span {
  flex-shrink: 0;
  white-space: nowrap;
}

.outline {
  color: transparent;
  width: 110vw;
  font-style: italic;
  -webkit-text-stroke: 1px #000000;
  text-shadow: none;
  font-family: termina, sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}

.bag {
  transform: rotate(30deg);
  position: absolute;
  right: -80px;
  top: -90px;
  z-index: 999;
}
